.menu{
    font-family: "Roboto";
    background-color: aqua;
    text-align: left;
    width: 250px;
}

nav.menu ul{
list-style-type:"🦍" ;
padding: 2rem;
padding: 0%;
list-style-position: inside;
}

nav.menu a{
text-decoration: none;
font-weight: 400;
color: black;
padding: 0 0.5rem;

}

nav.menu a:visited{
color: black;
}

nav.menu a:hover{
    background-color: rgb(5, 180, 180);
    color: red;
}

nav.menu li{
    padding: 0.3rem ;
}